################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Alexa-Skill-Server/.vs
/Alexa-Skill-Server/.vs
/Alexa-Skill-Server/.vs
/Alexa-Skill-Server/Alexa-Functions/bin
/Alexa-Skill-Server/Alexa-Functions/obj
/Alexa-Skill-Server/Alexa-Functions/appsettings.json
/Alexa-Skill-Server/packages
/Alexa-Skill-Server/Alexa-Functions/Alexa-Functions.csproj.user
*.config
*.suo
/FindMooch.BotFramework/FindMooch.BotFramework/bin
/FindMooch.BotFramework/FindMooch.BotFramework/obj/Debug
/FindMooch.BotFramework/packages
*.user
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles/FindMooch-Alexa.publishsettings
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles/FindMooch-Alexa-second - Web Deploy.pubxml
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles/FindMooch-Alexa-second - FTP.pubxml
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles/findmooch-alexa-2 - Web Deploy.pubxml
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles/FindMooch-Alexa - Web Deploy.pubxml
/Alexa-Skill-Server/Alexa-Functions/Properties/PublishProfiles/FindMooch-Alexa - FTP.pubxml
/FindMooch.BotFramework/bin
/FindMooch.BotFramework/obj/Debug
/FindMooch.BotFramework/Properties/PublishProfiles
/FindMooch.BotFramework/appsettings.json
