################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Alexa-Skill-Server/.vs
/Alexa-Skill-Server/.vs
/Alexa-Skill-Server/.vs
/Alexa-Skill-Server/Alexa-Functions/bin
/Alexa-Skill-Server/Alexa-Functions/obj
/Alexa-Skill-Server/Alexa-Functions/appsettings.json
/Alexa-Skill-Server/packages
/Alexa-Skill-Server/Alexa-Functions/Alexa-Functions.csproj.user
/FindMooch.BotFramework/.vs
/FindMooch.BotFramework/FindMooch.BotFramework/bin
/FindMooch.BotFramework/FindMooch.BotFramework/obj/Debug
*.user
/FindMooch.BotFramework/packages
*.pubxml
*.publishsettings
